h1, h2{ /*reset for mobile browsers */
font-weight: normal;
}

/*********************************************************
General-Body
**********************************************************/

body {
	color: #444;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	background-color: #ecf0f1;
	font-weight: 400; 
	/*background-image:url('images/canvas.jpg');*/
	background-repeat:repeat;
}
/*
#wrapper{
	max-width: 1024px;
	background-color: white;
	margin: 0 auto;
	border-bottom: 2px solid #869dba;
	box-shadow: 2px 2px 2px #888888;
}*/


a {
	color: #b03476;
}
a:active {
	color: #48647c;
	font-weight: 2px;
}

a:hover{
	color: #444;
	text-decoration: none;
}

a:visted {
	color: Purple;
}

#pagetitle {
	font-family: 'Josefin Slab', serif;
	font-size: 24px;
	color: #b03476;
	text-align: center;
}

/*********************************************************
Header
**********************************************************/
header {
	background-color: #d9f2f0;
	text-align: center;
	border-top: 5px solid #82374b;
	padding-bottom: 1em;	
}

header h1 {
	font-family: 'Tangerine', cursive;
	font-size: 100px;
	padding: .25em;
	padding-bottom: 0;
	margin: 0;
	color: #b03476;
}

header h2{
	font-family: 'Open Sans', sans-serif;
	color: #48647c;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

/*********************************************************
Nav Bar
**********************************************************/

#navlinks {
	background-color: #85d4de;
	border-top: 1px dashed white;
	padding: .25em;
	list-style: none;
	float: left;
	width: 100%;
	position: relative;
	z-index:5;
	margin-bottom: 0;
}


#navlinks li{
	float:left;
	margin-right:10px;
	position:relative;
}


#navlinks a{
    display:block;
    padding:5px;
    text-decoration:none;
}

#navlinks a:hover{
    color: white;
    background: #d9f2f0;
}

/*Drop down menus*/


#navlinks ul{
	background:rgba(255,255,255,0);list-style: none;
	list-style: none;
	position: absolute;
	left:-9999px;
}

#navlinks ul li {
	padding-top: 1px;
	float: none;
}

#navlinks ul a {
	text-decoration: none;
	padding: .2em 1em;
	white-space: nowrap;
}

#navlinks li:hover ul{
	left: -60px;
}

#navlinks li:hover a{
	background:#85d4de;
}

#navlinks li:hover ul a{ 
    text-decoration:none;
    color: #b03476;
}

#navlinks li:hover ul li a:hover{
    background:#d9f2f0;
}


/*********************************************************
Inner Wrapper
**********************************************************/
#innerwrapper{
	padding: 10px;
	overflow: hidden;
	background-image: url('images/canvas.jpg');
	background-repeat: repeat;
}

#giantbuttons ul{
	list-style: none;
	padding: 0;
}

#giantbuttons ul li{
	font-family: 'Josefin-Slab', sans-serif;
	font-size: 24px;
	padding: .25em;
	margin: 0 auto;
	border: 4px solid white;
	border-radius: 150px;
	width: 300px;
	text-align: center;
}

#giantbuttons ul li a{
	text-decoration: none;
}

#giantbuttons ul li a:hover{
	color: white;
}


/*********************************************************
Sidebar
**********************************************************/
#sidebar {
	background-color: #d9e8a7;
	border-radius: 5px;
	padding: 10px;
	float: right;
	display: block;
	width: 25%;
	height: auto;
}


/*********************************************************
Sidebar -- Bio
**********************************************************/
#bio img{
	width: 25%;
	margin-right: 10px;
	border-radius: 5px;
	float: left;
}

#bio h3, p{
	margin: 0;
	margin-bottom: 5px;
}

#bio p{
	font-size: 14px;
	line-height: 16px;
}

.strike {
	text-decoration: line-through;
}

/*********************************************************
Sidebar -- Social Media
**********************************************************/
#socialmedia h6{
	margin:0;
	font-size: 14px;
}


#twitterlogo img{
	background-color: #00ACED;
	border-radius: 4px;
}

#facebooklogo img{
	background-color: #3B5998;
	border-radius: 4px;
}

#githublogo img{
	background-color: #4183C4;
	border-radius: 4px;
}

#googlepluslogo img{
	background-color: #D14836;
	border-radius: 4px;
}

#linkedinlogo img{
	background-color: #007FB1;
	border-radius: 4px;
}

/*********************************************************
Sidebar -- Blog Links--- REMOVED
**********************************************************/
/*
#bloglinks {
	list-style: none;
	padding: 0;
	font-size: 14px;
	line-height: 18px;
}

#bloglinks li a{
	color: #b03476;
}

#bloglinks li a:active {
	color: #48647c;
	font-weight: 2px;
}

#bloglinks li a:hover{
	color: #444;
	text-decoration: none;
}

#bloglinks li a:visted {
	color: Purple;
}
*/

/*********************************************************
Blog Post
**********************************************************/
#blogwrapper{
	margin: 0 auto;
	max-width: 100%;
}

.postname {
	font-family: 'Josefin Slab', serif;
	font-size: 30px;
	color: #b03476;
	margin: 0 auto;
}

.author {
	float: left;
	font-size: 14px;
	margin: 5px;
}

.postdate {
	float: right;
	font-size: 14px;
	margin: 5px;
}
.postheader{
	overflow: hidden;
}

.blogbox {
	background-color: white;
	border: 1px solid #b03476;
	border-radius: 5px;
	padding: 10px;
}

article img{
	width: 98%;
	display: block;
	margin: 0 auto;
	border: 2px solid #869dba;
	border-radius: 2px;
}

article p{
	margin: 1em;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: .75em;
	margin-top: .75em;
}

article em{
	color: #48647c;
	font-weight: bold;
	font-style: normal;
	background-color: #ecf0f1;
	padding: 0 .5em 0 .5em;
}

article blockquote{
	background-color: #ecf0f1;
	font-weight: bold;
}

article p.articleheadings{
	font-weight: bold;
	font-size: 20px;
	margin: 1.5em .5em 1.5em .5em;
}

/*********************************************************
Share Post
**********************************************************/




/*********************************************************
Footer
**********************************************************/
#footer {
	clear: both;
	margin: 10px auto;
	padding: 5px 5px 5px 1em;
	font-size: 1em;
	color: #303030;
}

#footer p{
	text-align: center;
	font-size: 13px;
}

/*********************************************************
Responsive Design
**********************************************************/

@media screen and (max-width: 700px) {
	#sidebar {
		display: none;
	}

	.blogbox{
		width: 100%;
		border: none;
		padding: 0;
	}
	header h1 {
		font-size: 72px;
	}

	header h2{
		font-size: 14px;
	}

	#giantbuttons ul li{
		width: 250px;
		border: 4px solid #b03476;
	}

	#innerwrapper{
		background: white;
	}
}

@media screen and (min-width: 700px) {
	#sidebar{
		display: inherit;
		width: 25%;
	}

	.blogbox{
		max-width: 66%;
	}

	header h1{
		text-align: left;
		font-size: 72px;
	}

	header h2{
		text-align: left;
		margin-left: 2em;
		font-size: 18px;
	}
}

@media screen and (min-width: 970px){
	#sidebar{
		width: 250px;
	}

	.blogbox{

	}


	header h1{
		text-align: center;
		font-size: 100px;
	}

	header h2{
		text-align: center;
		margin-left: 2em;
	}

}

@media screen and (min-width: 1096px){
	#sidebar{
		width: 200px;
	}

	.blogbox{
		width: 55%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 1200px){
	#sidebar{
		width: 200px;
	}

	.blogbox{
		min-width: 700px;
		margin: 0 auto;
	}
}


