<!DOCTYPE HTML>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/stylesheet.css">
    <link href='http://fonts.googleapis.com/css?family=Tangerine|Roboto:400,300,500,400italic|Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    <!-- change the title below -->
    <title>Code Habits | {{page.title}}</title>  
  </head>
  <body>
    <div id='wrapper'>
      <header>
        <hgroup>
        <h1>Code Habits</h1>
        <h2>Habits of a coder</h2>
        </hgroup>

      </header>