<nav>
  <!-- home about contact blog etc. -->
  <ul id="navlinks">
    <li><a href="{{ site.baseurl }}/index.html"><i class='fa fa-home'></i> Home</a></li>
    <li>
      <a href="{{ site.baseurl }}/blog/index.html"><i class='fa fa-star'></i> Blog</a>
      <ul>
        {% for post in site.posts %}

          <li><a href="{{ site.baseurl }}{{post.url}}index.html">{{ post.title }}</a></li>

        {% endfor %}
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/projects/index.html"><i class='fa fa-chevron-down'></i> Projects</a>
      <ul>
        <li><a href="http://tripstarter.herokuapp.com" target=_blank>TripStarter</a></li>
        <li><a href="http://hackersnacker.herokuapp.com" target=_blank>HackerSnacker</a></li>
      </ul>
    </li>

    <li>
      <a href="{{ site.baseurl }}/about/index.html"><i class='fa fa-chevron-down'></i> About</a>
      <ul>
        <li><a href="{{ site.baseurl }}/contact/index.html">Contact Me</a></li>
      </ul>
    </li>
  </ul>
</nav>