body{
	font-family: 'Quattrocento Sans', sans-serif;
}


p {
	padding-left: 1em;
}

.wrapper {
	background-color: #FFEE80;
	padding: 10px;
	border-radius: 10px;
}
nav {
	color: Grey;
	background-color: LightSteelBlue;
	max-width: 800px;
	padding: .5em;
	border-radius: 5px;
}

#box-of-paragraphs {
	padding: 10px 0 10px 10px;
	background-color: LightSteelBlue;
	border-radius: 10px;
	max-width: 800px;
}

nav li {
	display: inline;
	border: 1px;
	border-color: black;
	padding-left: 10px;
}

aside{
	float: right;
}

.turn-blue:hover{
	background-color: Lightblue;
	color: Tomato;
}
.Farewell{
	text-align: center;
	color:Tomato;
	font-size: 48px;
	font-family: 'Lobster', cursive;
}
